[submodule "VKstudio-Responsive_Website"]
	path = VKstudio-Responsive_Website
	url = https://github.com/seyoonPuvi/VKstudio-Responsive_Website.git
[submodule "VK-Fitness"]
	path = VK-Fitness
	url = https://github.com/seyoonPuvi/VK-Fitness.git
[submodule "landingpage-template"]
	path = landingpage-template
	url = https://github.com/seyoonPuvi/landingpage-template.git
